## ETL archivo user_reviews

In [18]:
import pandas as pd
import pyarrow.parquet as pq
from numpy import nan

In [3]:
#Se carga el archivo para trabajarlo
df_reviews = pq.read_table('df_user_reviews.parquet').to_pandas()

In [4]:
# Visualizamos las primeras filas del DataFrame para tener una idea de su estructura
df_reviews.head()

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,true,simple yet with great replayability. in my opi...
1,76561197970982479,2011,22200,true,its unique and worth a playthrough.
2,76561197970982479,2011,43110,true,great atmosphere. the gunplay can be a bit chu...
3,js41637,2014,251610,true,i know what you think when you see this title ...
4,js41637,2013,227300,true,for a simple (its actually not all that simple...

In [5]:
#Verificamos el nombre de las columnas.
df_reviews.columns

Index(['user_id', 'posted', 'item_id', 'recommend', 'review'], dtype='object')

In [7]:
#Para obtener información sobre los tipos de datos y la cantidad de valores no nulos.
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 59332
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    59305 non-null  object
 1   posted     59305 non-null  object
 2   item_id    59305 non-null  int64
 3   recommend  59305 non-null  object
 4   review     59305 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.7+ MB

In [12]:
#Se eliminan los valres nulos de las filas
df_reviews = df_reviews.dropna(how='all')

In [13]:
df_reviews.shape

(59305, 5)

In [14]:
df_reviews.head()

,user_id,posted,item_id,recommend,review
0,76561197970982479,2011,1250,true,simple yet with great replayability. in my opi...
1,76561197970982479,2011,22200,true,its unique and worth a playthrough.
2,76561197970982479,2011,43110,true,great atmosphere. the gunplay can be a bit chu...
3,js41637,2014,251610,true,i know what you think when you see this title ...
4,js41637,2013,227300,true,for a simple (its actually not all that simple...

In [15]:
df_reviews['recommend'].value_counts()

recommend
true     52473
false     6832
Name: count, dtype: int64

In [ ]:
#Se cuentan los valores nulos
df_reviews['last_edited'].isnull().sum(), df_reviews['last_edited'].shape[0]

In [ ]:
# Secrean dos variables para luego usarlas para el cambio de datos de las celdas
lista1 = df_reviews['posted'].str.extract(r'(\d{4})')
lista2 = df_reviews['last_edited'].str.extract(r'(\d{4})')

In [ ]:
#Se reemplazan los valores 

for i in range(len(lista1)):
  if lista2[0][i] is not nan:
    lista1[0][i] = lista2[0][i]
  else:
    continue

In [ ]:
df_reviews['posted'] = lista1
df_reviews.head(3)

In [ ]:
#Se elimina la columna funny por que no es relevante.

funny = df_reviews['funny']
df_reviews.drop('funny', axis=1, inplace=True)

In [ ]:
df_reviews.tail(2)

In [ ]:
df_reviews.dropna(subset=['item_id'], inplace=True)

In [ ]:
df_reviews['user_id'].isnull().sum()

In [ ]:
#Se eliminan columnas que no se usan
df_reviews.drop(columns=['user_url', 'helpful', 'last_edited'],axis=1, inplace=True)

In [ ]:
 #Limpieza de caracteres especiales
 
# Todos los strings en minúsculas
df_reviews = df_reviews.apply(lambda x: x.astype(str).str.lower() if x.dtype == "object" else x)

# Reemplaza '-' por ' ' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('-', ' ') if x.dtype == "object" else x)

# Reemplaza '!' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('!', '') if x.dtype == "object" else x)

# Reemplaza '¡' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('¡', '') if x.dtype == "object" else x)

# Reemplaza '?' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('?', '') if x.dtype == "object" else x)

# Reemplaza '¿' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('¿', '') if x.dtype == "object" else x)

# Reemplaza '"' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace('"', '') if x.dtype == "object" else x)

# Reemplaza ''' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace("'", '') if x.dtype == "object" else x)

# Reemplaza ',' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace(",", '') if x.dtype == "object" else x)

# Reemplaza '&' por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace("&", '') if x.dtype == "object" else x)

# Reemplaza "''" por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace("''", '') if x.dtype == "object" else x)

# Reemplaza "_" por '' en todas las columnas
df_reviews = df_reviews.apply(lambda x: x.str.replace("_", '') if x.dtype == "object" else x)

df_reviews.head()

In [ ]:
df_reviews['item_id'] = df_reviews['item_id'].astype(int)

In [ ]:
df_reviews.head(2)

In [ ]:
import pyarrow.parquet as pq
df_reviews.to_parquet('data/df_user_reviews.parquet')